flask~=3.0.0
google-cloud-language
google-cloud-aiplatform
google-cloud-speech
pydub

----------document ai용 api
pip3 install --upgrade pandas
pip3 install --upgrade google-cloud-documentai
pip3 install --upgrade google-cloud-storage