<html>
  <head>
    <!-- chartjs javascript 넣기 -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>

  <body>
    <!-- 환자용 차트 -->
    <!-- chart 넣고 싶은 위치에 태그 넣기-->
    <div>
      <canvas id="patientChart"></canvas>
    </div>
    
    <!-- chart 정보 정의-->
    <script>
      const labels = {{ patient.text_contents | tojson}};
      const data = {
        labels: labels,
        datasets: [{
          label: 'sentiment scores',
          backgroundColor: 'rgb(000, 153, 255)',
          borderColor: 'rgb(000, 153, 255)',
          data: {{ patient.senti_scores | tojson }},
        },
        {
          label: 'sentiment magnitudes',
          backgroundColor: 'rgb(255, 99, 132)',
          borderColor: 'rgb(255, 99, 132)',
          data: {{ patient.senti_magnitudes | tojson }},
        },
        {
          label: 'overall sentiment score',
          backgroundColor: 'rgb(255, 99, 132)',
          borderColor: 'rgb(255, 99, 132)',
          data: {{ patient.doc_sentiment_score | tojson }},
        },
        {
          label: 'overall sentiment magnitude',
          backgroundColor: 'rgb(255, 99, 132)',
          borderColor: 'rgb(255, 99, 132)',
          data: {{ patient.doc_sentiment_magnitude | tojson }},
        }]
      };

      const config = {
        type: 'line',
        data: data,
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: 'top',
            },
            title: {
              display: true,
              text: "The patient's sentiment analysis chart"
            }
          }
        },
      };

      </script>

      <!-- div 태그로 정의한 곳에 차트 그리기-->
      <script>
        const myChart = new Chart(
          document.getElementById('patientChart'),
          config
        );
    </script>

  </body>
</html>