<html>
  <head>
    <!-- chartjs javascript 넣기 -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>

  <body>
    <!-- 환자용 차트 -->
    <!-- chart 넣고 싶은 위치에 태그 넣기-->
    <div>
      <canvas id="patientChart"></canvas>
    </div>
    
    <!-- chart 정보 정의-->
    <script>
      const labels = {{ patient | tojson}};
      const data = {
        labels: labels,
        datasets: [{
          label: 'Doctor',
          backgroundColor: 'rgb(000, 153, 255)',
          borderColor: 'rgb(000, 153, 255)',
          data: {{ value1 | tojson }},
        },
        {
          label: 'Patient',
          backgroundColor: 'rgb(255, 99, 132)',
          borderColor: 'rgb(255, 99, 132)',
          data: {{ value2 | tojson }},
        }]
      };

      const config = {
        type: 'line',
        data: data,
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: 'top',
            },
            title: {
              display: true,
              text: '의사와 환자의 담화 감정 분석 차트'
            }
          }
        },
      };

      </script>

      <!-- div 태그로 정의한 곳에 차트 그리기-->
      <script>
        const myChart = new Chart(
          document.getElementById('myChart'),
          config
        );
    </script>

    <!-- 의사용 -->
    <!-- chart 넣고 싶은 위치에 태그 넣기-->
    <div>
      <canvas id="myChart"></canvas>
    </div>
    
    <!-- chart 정보 정의-->
    <script>
      const labels = {{ labels | tojson}};
      const data = {
        labels: labels,
        datasets: [{
          label: 'Doctor',
          backgroundColor: 'rgb(000, 153, 255)',
          borderColor: 'rgb(000, 153, 255)',
          data: {{ value1 | tojson }},
        },
        {
          label: 'Patient',
          backgroundColor: 'rgb(255, 99, 132)',
          borderColor: 'rgb(255, 99, 132)',
          data: {{ value2 | tojson }},
        }]
      };

      const config = {
        type: 'line',
        data: data,
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: 'top',
            },
            title: {
              display: true,
              text: '의사 담화 감정 분석 차트'
            }
          }
        },
      };

      </script>

      <!-- div 태그로 정의한 곳에 차트 그리기-->
      <script>
        const myChart = new Chart(
          document.getElementById('myChart'),
          config
        );
    </script>

  </body>
</html>