<!-- JQuery JS -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.min.js'></script>
<!-- chart.js -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>

<script>
$(document).ready(function(){
chart = new Chart(document.getElementById("myChart"), {
            type: 'line',
                data: {
                    labels: {{ labels|safe }},
                    datasets: [
                        {
                            label: 'value1",
                            data: {{ value1 }},                        
                        },
                        {
                            label: 'value2",
                            data: {{ value2 }},
                        }
                    ],
                    borderWidth: 1
                },
            });
</script>

<canvas id="myChart"></canvas>