<html>
  <head>
    <!-- chartjs javascript 넣기 -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>

  <body>
    <!-- 환자용 차트 -->
    <!-- chart 넣고 싶은 위치에 태그 넣기-->
    <div>
      <canvas id="patientChart"></canvas>
    </div>
    
    <!-- chart 정보 정의-->
    <script>
      const chartTitle = "The patient's sentiment analysis chart";
      var sentences = {{ patient.text_contents | tojson}};
      var sentiScores = {{ patient.senti_scores | tojson }};
      var sentiMagnitudes = {{ patient.senti_magnitudes | tojson }};
      var overallScore = {{ patient.doc_sentiment_score | tojson }};
      var overallMagnitude = {{ patient.doc_sentiment_magnitude | tojson }};

      // 전체적인 값은 기준선으로 그래프에 그리기 위해 리스트에 문장 개수만큼 채워 넣음
      var overallScoreList = new Array(sentiScores.length).fill(overallScore);
      var overallMagnitudeList = new Array(sentiScores.length).fill(overallMagnitude);

      // labels를 sentence 개수만큼 만듦 => text1, text2, ...
      var labels = []
      for (var i = 1; i <= sentences.length; i++) {
          labels.push("text" + i);
      }

      const data = {
        labels: labels,
        datasets: [{
          label: 'sentiment scores',
          backgroundColor: 'rgb(000, 153, 255)',
          borderColor: 'rgb(000, 153, 255)',
          data: sentiScores,
        },
        {
          label: 'sentiment magnitudes',
          backgroundColor: 'rgb(255, 99, 132)',
          borderColor: 'rgb(255, 99, 132)',
          data: sentiMagnitudes,
        },
        {
          label: 'overall sentiment score',
          backgroundColor: 'rgb(000, 051, 204)',
          borderColor: 'rgb(000, 051, 204)',
          borderDash: [5, 5],
          data: overallScoreList,
        },
        {
          label: 'overall sentiment magnitude',
          backgroundColor: 'rgb(255, 000, 153)',
          borderColor: 'rgb(255, 000, 153)',
          borderDash: [5, 5],
          data: overallMagnitudeList,
        }]
      };

      const config = {
        type: 'line',
        data: data,
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: 'top',
            },
            title: {
              display: true,
              text: chartTitle
            }
          }
        },
      };

      </script>

      <!-- div 태그로 정의한 곳에 차트 그리기-->
      <script>
        const myChart = new Chart(
          document.getElementById('patientChart'),
          config
        );
    </script>

  </body>
</html>