<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team02</title>
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap">
</head>
<body>

<!-- Canvas background-->
<canvas class="orb-canvas"></canvas>
<!-- Overlay -->
<div class="overlay">
    <!-- Overlay inner wrapper -->
    <div class="overlay-inner-left">
        <!-- Title -->
        <h1 class="overlay__title">
            <span class="text-gradient">Vertex AI</span> 활용 키워드 추출 및 감정 분석
        </h1>
        <!-- Description -->
        <p class="overlay__description">
            키워드 추출 및 환자 대화 요약, 대화 내용을 통해 감정 분석<br>
            <strong>의사와 환자와의 대화를 분석햐여 결과를 리포트합니다</strong>
        </p>
        <!-- Buttons -->
        <div class="overlay__btns">
            <button class="overlay__btn overlay__btn--transparent">
                <a href="{{ url_for('show_voicetext') }}">
                    대화 텍스트 보기🔎
                </a>
            </button>
            <button class="overlay__btn overlay__btn--colors">
                <a href="{{ url_for('show_emotion') }}" style="color: white">
                    분석 시작
                </a>
                <span class="overlay__btn-emoji"></span>
            </button>
        </div>
    </div>
    <div class="overlay-inner-right">
        <div class="voice-input-section">
            <div id="dropArea" class="drop-area">
                <p id="dropAreaMessage">여기에 파일을 드래그 앤 드롭하거나 <a href="#" id="fileInputLink">파일 찾아보기</a></p>
                <input type="file" id="fileInput" accept="audio/*" hidden>
            </div>
        </div>
    </div>
</div>

<script type="module" src="{{ url_for('static', filename='js/stylescript.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
