<!-- Overlay inner wrapper -->
<div class="overlay-inner-left">
    <!-- Title -->
    <h1 class="overlay__title">
        Voice Medical Questionnaires using <span class="text-gradient">Vertex AI</span>
    </h1>
    <!-- Description -->
    <p class="overlay__description">
        This app extracts keywords and analyzes sentiment from patient's voice questionnaire to predict illnesses. It identifies important terms and emotional cues, aiding in early <strong>disease detection.</strong>

    </p>
    <!-- Buttons -->
    <div class="overlay__btns">
        <button id="startEmotionAnalysis" class="overlay__btn overlay__btn--transparent">
            View Sentiment 🔎
        </button>
        <button id="viewTextSummary" class="overlay__btn overlay__btn--colors">
            Show summary
        </button>
    </div>
</div>
<div class="overlay-inner-right">
    <div id="dropArea" class="drop-area">
        <div class="voice-recording-icon">
            <img id="voice-recording-icon" src="static/images/recording.svg" alt="recording">
        </div>
        <p class="drop-area-p" id="dropAreaMessage">click icon to record voice or drag and drop file  <a href="#" id="fileInputLink">browse
            for files</a></p>
        <input type="file" id="fileInput" accept=".wav,.aif,.aiff,.flac,.alac,.aac,.ogg,.mp3" hidden>
        <div id="loadingSpinner" class="loading-spinner-hidden">
            <div class="spinner"></div>
        </div>
        <div class="completeMessage" id="completeMessage" style="display: none">
            Upload complete!!
        </div>
        <div class="failedMessage" id="failedMessage" style="display: none">
            Analysis failed!!
        </div>
    </div>
</div>
<div id="downloadFiles" class="downloadFiles">
    <a href="https://gcp.dealim.site/audio/Digestion.flac" download="Digestion.flac">voicefile1</a>
    <a href="https://gcp.dealim.site/audio/Alcohol.flac" download="Alcohol.flac">voicefile2</a>
</div>