<!-- Overlay inner wrapper -->
<div class="overlay-inner-left">
    <!-- Title -->
    <h1 class="overlay__title">
        Voice Medical CDSS using <span class="text-gradient">Vertex AI</span>
    </h1>
    <!-- Description -->
    <p class="overlay__description">
        This app extracts keywords and analyzes sentiment from patients' voice to predict illnesses. It identifies important terms and emotional cues, aiding in early <strong>disease detection</strong>.</p>
    <!-- Buttons -->
    <div class="overlay__btns">
        <button id="viewEmotionAnalysis" class="overlay__btn overlay__btn--transparent">
            Show Sentiment
        </button>
        <button id="viewTextSummary" class="overlay__btn overlay__btn--colors">
            Show summary 🔎
        </button>
        <button id="viewOcrAnalysis" class="display-none overlay__btn overlay__btn--transparent-none">
            View Questionnaires 🔎
        </button>
    </div>
</div>
<div class="overlay-inner-right">
    <div id="dropArea" class="drop-area">
        <div class="voice-recording-icon">
            <img id="voice-recording-icon" src="static/images/recording.svg" alt="recording">
        </div>
        <p class="drop-area-p" id="dropAreaMessage">click icon to record voice or drag and drop file  <a href="#" id="fileInputLink">browse for files</a>
        </p>
        <input type="file" id="fileInput" accept=".wav,.flac,.pdf" hidden>
        <div id="loadingSpinner" class="loading-spinner-hidden">
            <div class="spinner"></div>
        </div>
        <div class="completeMessage" id="completeMessage" style="display: none">
            Upload complete!!
        </div>
        <div class="failedMessage" id="failedMessage" style="display: none">
            Analysis failed!!
        </div>
    </div>
    <button id="switch" class="toggle" data-state="voice">
        <div class="icon">
            <div class="dots">
                <i></i><i></i><i></i><i></i>
            </div>
            <div class="lines">
                <i></i><i></i><i></i><i></i>
            </div>
        </div>
        <div class="text">
            <span>Voice</span>
            <span>PDF</span>
        </div>
    </button>
</div>
<div id="downloadFiles" class="downloadFiles">
    <a href="https://gcp.dealim.site/download/korean.wav" download="voice_kr.wav">korean voice</a>
    <a href="https://gcp.dealim.site/download/english.wav" download="voice_eng.wav">english voice</a>
    <a href="https://gcp.dealim.site/download/japanese.flac" download="voice_jp.flac">japanese voice</a>
    <a href="https://gcp.dealim.site/download/questionnaire_eng.pdf" download="Questionnaire_eng.pdf">Questionnaire eng</a>
    <a href="https://gcp.dealim.site/download/questionnaire_japanese.pdf" download="Questionnaire_japanese.pdf">Questionnaire jp</a>
</div>