<!-- Overlay inner wrapper -->
<div class="overlay-inner-left">
    <!-- Title -->
    <h1 class="overlay__title">
        Voice Medical Questionnaires using <span class="text-gradient">Vertex AI</span>
    </h1>
    <!-- Description -->
    <p class="overlay__description">
        This app extracts keywords and analyzes sentiment from patient's voice questionnaire to predict illnesses. It identifies important terms and emotional cues, aiding in early <strong>disease detection.</strong>

    </p>
    <!-- Buttons -->
    <div class="overlay__btns">
        <button id="startEmotionAnalysis" class="overlay__btn overlay__btn--transparent">
            View Sentiment 🔎
        </button>
        <button id="viewTextSummary" class="overlay__btn overlay__btn--colors">
            Show summary
        </button>
    </div>
</div>
<div class="overlay-inner-right">
    <div class="voice-input-section">
        <div id="dropArea" class="drop-area">
            <p class="drop-area-content" id="dropAreaMessage">Drag and drop files here or <a href="#" id="fileInputLink">browse for files</a></p>
            <div class="downloadFiles">
                <a href="https://storage.googleapis.com/gcp_voice_bucket/Digestion.flac">voicefile1</a><a href="https://storage.googleapis.com/gcp_voice_bucket/Alcohol.flac">voicefile2</a>
            </div>
            <input type="file" id="fileInput" accept="audio/*" hidden>
            <div id="loadingSpinner" class="loading-spinner-hidden">
                <div class="spinner"></div>
            </div>
            <div class="completeMessage" id="completeMessage" style="display: none">Upload complete!!</div>
        </div>
    </div>
</div>
