<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis Results</title>
    <style>
        table {
            border-collapse: collapse;
            width: 50%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        .positive {
            background-color: lightgreen;
        }

        .negative {
            background-color: lightcoral;
        }
    </style>
</head>
<body>

<table>
    <tr>
        <th>Text Content</th>
        <th>Sentiment Score</th>
        <th>Sentiment Magnitude</th>
    </tr>
    <script>
        var sentences = {{ patient.text_contents | tojson}};
        var sentiScores = {{ patient.senti_scores | tojson }};
        var sentiMagnitudes = {{ patient.senti_magnitudes | tojson }};
        var overallScore = {{ patient.doc_sentiment_score | tojson }};
        var overallMagnitude = {{ patient.doc_sentiment_magnitude | tojson }};

        for (var i = 0; i < sentiScores.length; i++) {
            if (sentiScores[i] < -0.25 || sentiScores[i] > 0.25) {
                var row = document.createElement('tr');
                var cell1 = document.createElement('td');
                var cell2 = document.createElement('td');
                var cell3 = document.createElement('td');

                cell1.textContent = sentences[i];
                cell2.textContent = sentiScores[i];
                cell3.textContent = sentiMagnitudes[i];

                if (sentiScores[i] >= 0.25 && sentiScores[i] <= 1) {
                    cell2.classList.add('positive');
                    cell3.classList.add('positive');
                } else if (sentiScores[i] >= -1 && sentiScores[i] < -0.25) {
                    cell2.classList.add('negative');
                    cell3.classList.add('negative');
                }

                row.appendChild(cell1);
                row.appendChild(cell2);
                row.appendChild(cell3);
                document.querySelector('table').appendChild(row);
            }
        }
    </script>
</table>

</body>
</html>
