<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Mood</title>
    <style>
        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>

<div id="patientMood">
    <img id="sadImage" src="" alt="Sad Image">
    <img id="noCommentImage" src="" alt="No Comment Image">
    <img id="happyImage" src="" alt="Happy Image">
    <p id="overallScore"></p>
    <p id="overallMagnitude"></p>
</div>

<script>
    var sentences = {{ patient.text_contents | tojson}};
    var sentiScores = {{ patient.senti_scores | tojson }};
    var sentiMagnitudes = {{ patient.senti_magnitudes | tojson }};
    var overallScore = {{ patient.doc_sentiment_score | tojson }};
    var overallMagnitude = {{ patient.doc_sentiment_magnitude | tojson }};

    // Set the image sources based on the overallScore value
    var sadImage = document.getElementById('sadImage');
    var noCommentImage = document.getElementById('noCommentImage');
    var happyImage = document.getElementById('happyImage');

    if (overallScore > 0.25) {
        sadImage.src = 'static/images/sad_disabled.png';
        noCommentImage.src = 'static/images/nocomment_disabled.png';
        happyImage.src = 'static/images/happy.png';
    } else if (overallScore < -0.25) {
        sadImage.src = 'static/images/sad.png';
        noCommentImage.src = 'static/images/nocomment_disabled.png';
        happyImage.src = 'static/images/happy_disabled.png';
    } else {
        sadImage.src = 'static/images/sad_disabled.png';
        noCommentImage.src = 'static/images/nocomment.png';
        happyImage.src = 'static/images/happy_disabled.png';
    }

    // Set the text content for overallScore and overallMagnitude
    document.getElementById('overallScore').textContent = 'Overall Score: ' + overallScore;
    document.getElementById('overallMagnitude').textContent = 'Overall Magnitude: ' + overallMagnitude;
</script>

</body>
</html>
