<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team02</title>
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<!-- Canvas background-->
<canvas class="orb-canvas"></canvas>
<div class="overlay" style="padding: 4rem 2rem" >
    <div class="overlay-inner-left">
        <canvas id="patientChart" ></canvas>
    </div>
    <div class="overlay-inner-right">
        <div class="chart__table">
            <table>
                <tr>
                    <th>Emotionally Charged Messages</th>
                    <th>Sentiment Score</th>
                    <th>Sentiment Magnitude</th>
                </tr>
                <script>
                    var sentences = {{ patient.text_contents | tojson }};
                    var sentiScores = {{ patient.senti_scores | tojson }};
                    var sentiMagnitudes = {{ patient.senti_magnitudes | tojson }};
                    var overallScore = {{ patient.doc_sentiment_score | tojson }};
                    var overallMagnitude = {{ patient.doc_sentiment_magnitude | tojson }};

                    for (var i = 0; i < sentiScores.length; i++) {
                        if (sentiScores[i] < -0.25 || sentiScores[i] > 0.25) {
                            var row = document.createElement('tr');
                            var cell1 = document.createElement('td');
                            var cell2 = document.createElement('td');
                            var cell3 = document.createElement('td');

                            cell1.textContent = sentences[i];
                            cell2.textContent = sentiScores[i];
                            cell3.textContent = sentiMagnitudes[i];

                            if (sentiScores[i] >= 0.25 && sentiScores[i] <= 1) {
                                cell2.classList.add('positive');
                                cell3.classList.add('positive');
                            } else if (sentiScores[i] >= -1 && sentiScores[i] < -0.25) {
                                cell2.classList.add('negative');
                                cell3.classList.add('negative');
                            }

                            row.appendChild(cell1);
                            row.appendChild(cell2);
                            row.appendChild(cell3);
                            document.querySelector('.chart__table table').appendChild(row);
                        }
                    }
                </script>
            </table>
        </div>
        <div class = "chart__todayMood">
            <h1>오늘의 환자 기분</h1>

            {% if patient.doc_sentiment_score > 0.25 %}
                <img src="{{ url_for('static', filename='images/sad_disabled.png') }}" alt="Sad">
                <img src="{{ url_for('static', filename='images/nocomment_disabled.png') }}" alt="No Comment">
                <img src="{{ url_for('static', filename='images/happy.png') }}" alt="Happy">
            {% elif patient.doc_sentiment_score < -0.25 %}
                <img src="{{ url_for('static', filename='images/sad.png') }}" alt="Sad">
                <img src="{{ url_for('static', filename='images/nocomment_disabled.png') }}" alt="No Comment">
                <img src="{{ url_for('static', filename='images/happy_disabled.png') }}" alt="Happy">
            {% else %}
                <img src="{{ url_for('static', filename='images/sad_disabled.png') }}" alt="Sad">
                <img src="{{ url_for('static', filename='images/nocomment.png') }}" alt="No Comment">
                <img src="{{ url_for('static', filename='images/happy_disabled.png') }}" alt="Happy">
            {% endif %}

            <p>Score: {{ patient.doc_sentiment_score }}</p>
            <p>Magnitude: {{ patient.doc_sentiment_magnitude }}</p>
            <p>기준 점수 : 0.25 ~ 1.0 (긍정)</p>
            <p> -0.25 ~ 0.25 (중립) </p>
            <p> -1.0 ~ 0.25 (부정) </p>
    </div>
    </div>
</div>


<script>
    Chart.defaults.font.family = "sans-serif";

    const chartTitle = "The patient's sentiment analysis chart";
    var sentences = {{ patient.text_contents | tojson}};
    var sentiScores = {{ patient.senti_scores | tojson }};
    var sentiMagnitudes = {{ patient.senti_magnitudes | tojson }};
    var overallScore = {{ patient.doc_sentiment_score | tojson }};
    var overallMagnitude = {{ patient.doc_sentiment_magnitude | tojson }};

    // 긍정, 부정 기준선을 그래프에 그리기 위해 리스트에 문장 개수만큼 채워 넣음
    var positiveBaseline = new Array(sentiScores.length).fill(0.25);
    var negativeBaseline = new Array(sentiScores.length).fill(-0.25);

    // labels를 sentence 개수만큼 만듦 => text1, text2, ...
    var labels = []
    for (var i = 1; i <= sentences.length; i++) {
          labels.push("");
    }

    const data = {
        labels: labels,
        datasets: [{
            label: 'Sentiment Scores',
            backgroundColor: 'rgb(000, 153, 255)',
            borderColor: 'rgb(000, 153, 255)',
            data: sentiScores,
        },
            {
                label: 'Sentiment Magnitudes',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: sentiMagnitudes,
            },
            {
                label: 'Positive Baseline',
                backgroundColor: 'rgb(102, 102, 102)',
                borderColor: 'rgb(102, 102, 102)',
                borderDash: [5, 5],
                data: positiveBaseline,
            },
            {
                label: 'Negative Baseline',
                backgroundColor: 'rgb(102, 102, 102)',
                borderColor: 'rgb(102, 102, 102)',
                borderDash: [5, 5],
                data: negativeBaseline,
            }]
    };

    const config = {
        type: 'line',
        data: data,
        options: {
            responsive: true,
            scales: {
              x:{
                  ticks:{
                      font:{
                          size: 14
                      }
                  }
              }
            },
            plugins: {
                legend: {
                    position: 'top',
                    labels: {
                        font: {
                            size: 14 // 범례 글씨 크기 수정
                        }
                    }
                },
                title: {
                    display: true,
                    text: chartTitle,
                    font: {
                        size: 16 // 제목 글씨 크기 수정
                    }
                }
            }
        },
    };

</script>

<script>
    const myChart = new Chart(
        document.getElementById('patientChart'),
        config
    );
    Chart.defaults.font.family = 'Arial';
</script>
<script type="module" src="{{ url_for('static', filename='js/stylescript.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>





