<div class="overlay-inner-left">
    <div class="emotion-chart">
        <canvas id="patientChart"></canvas>
    </div>
    <div class="emotion-table">
        <table>
            <tr>
                <th>Emotionally Charged Messages</th>
                <th>Sentiment Score</th>
                <th>Sentiment Magnitude</th>
            </tr>
        </table>
    </div>
</div>

<div class="overlay-inner-right">
    <div class = "chart__todayMood">
        <h2>Today's sentiment</h2>
        <img class="emotion-images" id="sadImage" src="/static/images/sad_disabled.png" alt="Sad">
        <img class="emotion-images" id="noCommentImage" src="/static/images/nocomment_disabled.png" alt="No Comment">
        <img class="emotion-images" id="happyImage" src="/static/images/happy_disabled.png" alt="Happy">
    </div>
</div>

<div class="arrow-container">
    <div class="arrow">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>