<div class="overlay-summary-left">
    <h1 class="overlay__title">Voice Summary</h1>
</div>
<div class="overlay-summary-right">
    <p class="overlay_summary_description">
        Um-hum . Yeah. Hello , good morning . Good
        morning . So , tell me what's going on . Uh , sure , so , um , I
        woke up probably three or four days ago , which , uh , wheezing and short of breath .
        Okay , any cough or chest pain ? I cough infrequently , but no ,
        uh , chest pain . Have you been exposed to anyone with covid ?
        Uh , no , and I also took a test , which was negative . Uh , is it getting
        worse , or better ? Uh , it has been getting a lot worse
    </p>
</div>
<div class="arrow-container">
    <div class="arrow">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>